:root {
  --dark: #1c1d21;
  --grey: #393a41;
  --light: #fffffc;
  --primary: #f7cb15;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  display: flex;
  background-color: var(--light);
}

.sidebar {
  position: fixed;
  min-width: 220px;
  height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .top .buttons a:hover {
  opacity: 0.5;
}

.sidebar .top .buttons a:first-child {
  margin-right: 1rem;
}

.sidebar .top .buttons i {
  color: var(--primary);
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  padding-bottom: 1.5rem;
}

.bottom .recent-project {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bottom .recent-project:hover {
  opacity: 0.5;
}

.bottom .recent-project .alt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}
