@import './colors.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  display: flex;
  background-color: lighten($dark, 5);
}

.main {
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
  color: $light;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .row-1,
  .row-2,
  .row-3,
  .row-4 {
    width: 100%;
    max-width: 800px;
    display: flex;
  }

  .row-1 {
    justify-content: space-between;
    input,
    select {
      flex: 1;
    }
  }

  .row-2 {
    justify-content: space-between;
    input {
      width: 100%;
    }
  }

  .row-3 {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    .styled-checkbox {
      position: absolute;
      opacity: 0;

      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin-left: 0.5rem;
      }

      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: lighten($dark, 10);
      }

      &:checked + label:before {
        background: $primary;
      }

      &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
          4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
      }
    }
  }

  input,
  select {
    border: 0;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    color: $light;
    background-color: lighten($dark, 10);

    &:required:invalid {
      color: gray;
    }

    &:focus {
      border: 2px solid $primary;
      outline: none;
    }

    option[value=''][disabled] {
      display: none;
    }

    option:required:invalid {
      color: gray;
    }
  }
}

button {
  color: $light;
  font-weight: bold;
  border: 0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: $primary;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.sidebar {
  min-width: 220px;
  height: 100vh;
  background-color: $dark;
  color: $light;
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons a:hover {
      opacity: 0.5;
    }
    .buttons a:first-child {
      margin-right: 1rem;
    }

    .buttons i {
      color: $primary;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    padding-bottom: 1.5rem;

    .recent-project {
      width: 100%;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      .alt {
        width: 100%;
        display: flex;
        justify-content: space-between;
        opacity: 0.5;
      }
    }
  }
}
